body{
  background-color: black;
}

#title {
  margin-top: 9%;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 70px;
  letter-spacing: 13px;
  
  background: -webkit-linear-gradient(#c052bb, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
  position: absolute;
  margin-top:4%;
  width:19%;
  margin-left: 7%;
}

.image {
  width: 75%;
  height: auto;
}

.content{
  margin-top:10%;
  color : white;
  margin-left:30%;
  margin-right:10%;
}

footer {
  margin-top :150px;
}